/*Filters Listing*/
@media (max-width: 767.98px) {
  .col-md-3.col-sm-12.classic-filter-row.sidebar-sm-mg-bt {
    margin-top: 0;
    display: none;
  }

  .abd-mobile-modern-filters {
    display: none;
  }

  .abd-filter-icon-button,
.abd-modern-filter-icon-button {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 7px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=abid-stylesheet.css.map */
