#eapps-pricing-table-1 .eapps-pricing-table-column-1 {
	background-color: rgb(240, 240, 240);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-head-mobile-inner,
#eapps-pricing-table-1 .eapps-pricing-table-column-head-mobile-inner > .eapps-pricing-table-column-item   {
	background-color: rgb(240, 240, 240);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-title-text,
#eapps-pricing-table-1 .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-features-item-text {
	color: rgb(35, 38, 40);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-inner .eapps-pricing-table-column-title-text {
	color:rgb(35, 38, 40);
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item {
	color: rgb(35, 38, 40);
}

#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item-inner {
	color: rgb(35, 38, 40);
}

#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item .tooltip-icon-not-active {
	fill: rgb(35, 38, 40);
	opacity: 0.4;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item-icon {
	fill: rgb(35, 38, 40);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item .tooltip-icon-active {
	fill: rgb(35, 38, 40);
}

#eapps-pricing-table-1 .eapps-pricing-table-column-1 .eapps-pricing-table-column-features-item {
	font-size: 13px;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-2 {
	box-shadow: 0 0 0 1px rgba(0,0,0,.05);

}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-inner .eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;

}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}


#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-features-item .tooltip-icon-active {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-features-item {
	font-size: 14px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-price-wrapper {

}

#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-price-text {
	font-size: 50px;
	font-weight: 600;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-price-currency {
	font-size: 25px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-2 .eapps-pricing-table-column-button-type-outline {
	border-color: rgb(180, 185, 189);
	color: rgb(180, 185, 189);
}

#eapps-pricing-table-1 .eapps-pricing-table-column .eapps-pricing-table-column-button-type-filled.grey_btn{
	background: rgb(180, 185, 189);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	box-shadow: 0 2px 0 rgba(180, 185, 189, 0.75);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 {
	box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-inner .eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}

#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-features-item .tooltip-icon-active {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-features-item {
	font-size: 14px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-price-wrapper {

}

#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-price-text {
	font-size: 50px;
	font-weight: 600;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-price-currency {
	font-size: 25px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-3 .eapps-pricing-table-column-button-type-outline {
	border-color: rgb(219, 28, 34);
	color: rgb(219, 28, 34);
}

#eapps-pricing-table-1 .eapps-pricing-table-column .eapps-pricing-table-column-button-type-filled {
	background: rgb(219, 28, 34);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
#eapps-pricing-table-1 .eapps-pricing-table-column.eapps-pricing-table-column-featured {
	box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 6px 20px rgba(0,0,0,.15);
}
#eapps-pricing-table-1 .eapps-pricing-table-column .eapps-pricing-table-column-inner .eapps-pricing-table-column-title-text {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-features-item-icon {
	fill: rgb(116, 216, 107);
}


#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-features-item .tooltip-icon-active {
	fill: rgb(116, 216, 107);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-features-item {
	font-size: 14px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-price-wrapper {

}

#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-price-text {
	font-size: 50px;
	font-weight: 600;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-price-currency {
	font-size: 25px;
}
#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-button-type-outline {
	border-color: rgb(219, 28, 34);
	color: rgb(219, 28, 34);
}
#eapps-pricing-table-1 .eapps-pricing-table-column-4 .eapps-pricing-table-column-button-type-filled {
	background: rgb(219, 28, 34);
	color: rgb(255, 255, 255);
}
#eapps-pricing-table-1 .eapps-pricing-table-column .eapps-pricing-table-column-ribbon {
	background-color: rgb(219, 28, 34);
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}

#eapps-pricing-table-1 .eapps-pricing-table-column-features-item-icon-cross {
	fill: rgb(216, 107, 116) !important;
}
.eui-reset {
	align-content: initial;
	align-items: initial;
	align-self: initial;
	animation-delay: initial;
	animation-direction: initial;
	animation-duration: initial;
	animation-fill-mode: initial;
	animation-iteration-count: initial;
	animation-name: initial;
	animation-play-state: initial;
	animation-timing-function: initial;
	backface-visibility: initial;
	background-attachment: initial;
	background-blend-mode: initial;
	background-clip: initial;
	background-color: initial;
	background-image: initial;
	background-origin: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-repeat: initial;
	background-size: initial;
	block-size: initial;
	border-block-end-color: initial;
	border-block-end-style: initial;
	border-block-end-width: initial;
	border-block-start-color: initial;
	border-block-start-style: initial;
	border-block-start-width: initial;
	border-bottom-color: initial;
	border-bottom-left-radius: initial;
	border-bottom-right-radius: initial;
	border-bottom-style: initial;
	border-bottom-width: initial;
	border-collapse: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-image-slice: initial;
	border-image-source: initial;
	border-image-width: initial;
	border-inline-end-color: initial;
	border-inline-end-style: initial;
	border-inline-end-width: initial;
	border-inline-start-color: initial;
	border-inline-start-style: initial;
	border-inline-start-width: initial;
	border-left-color: initial;
	border-left-style: initial;
	border-left-width: initial;
	border-right-color: initial;
	border-right-style: initial;
	border-right-width: initial;
	border-spacing: initial;
	border-top-color: initial;
	border-top-left-radius: initial;
	border-top-right-radius: initial;
	border-top-style: initial;
	border-top-width: initial;
	bottom: initial;
	box-decoration-break: initial;
	box-shadow: initial;
	box-sizing: initial;
	caption-side: initial;
	caret-color: initial;
	clear: initial;
	clip: initial;
	clip-path: initial;
	clip-rule: initial;
	color: inherit;
	color-adjust: initial;
	color-interpolation: initial;
	color-interpolation-filters: initial;
	column-count: initial;
	column-fill: initial;
	column-gap: initial;
	column-rule-color: initial;
	column-rule-style: initial;
	column-rule-width: initial;
	column-width: initial;
	content: initial;
	counter-increment: initial;
	counter-reset: initial;
	cursor: initial;
	dominant-baseline: initial;
	empty-cells: initial;
	fill: initial;
	fill-opacity: initial;
	fill-rule: initial;
	filter: initial;
	flex-basis: initial;
	flex-direction: initial;
	flex-grow: initial;
	flex-shrink: initial;
	flex-wrap: initial;
	float: initial;
	flood-color: initial;
	flood-opacity: initial;
	font-feature-settings: initial;
	font-kerning: initial;
	font-language-override: initial;
	font-size: initial;
	font-size-adjust: initial;
	font-stretch: initial;
	font-style: initial;
	font-synthesis: initial;
	font-variant-alternates: initial;
	font-variant-caps: initial;
	font-variant-east-asian: initial;
	font-variant-ligatures: initial;
	font-variant-numeric: initial;
	font-variant-position: initial;
	font-weight: initial;
	grid-auto-columns: initial;
	grid-auto-flow: initial;
	grid-auto-rows: initial;
	grid-column-end: initial;
	grid-column-gap: initial;
	grid-column-start: initial;
	grid-row-end: initial;
	grid-row-gap: initial;
	grid-row-start: initial;
	grid-template-areas: initial;
	grid-template-columns: initial;
	grid-template-rows: initial;
	height: initial;
	hyphens: initial;
	image-orientation: initial;
	image-rendering: initial;
	ime-mode: initial;
	inline-size: initial;
	isolation: initial;
	justify-content: initial;
	justify-items: initial;
	justify-self: initial;
	left: initial;
	letter-spacing: initial;
	lighting-color: initial;
	line-height: initial;
	list-style-image: initial;
	list-style-position: initial;
	list-style-type: initial;
	margin-block-end: initial;
	margin-block-start: initial;
	margin-bottom: initial;
	margin-inline-end: initial;
	margin-inline-start: initial;
	margin-left: initial;
	margin-right: initial;
	margin-top: initial;
	marker-end: initial;
	marker-mid: initial;
	marker-start: initial;
	mask-clip: initial;
	mask-composite: initial;
	mask-image: initial;
	mask-mode: initial;
	mask-origin: initial;
	mask-position-x: initial;
	mask-position-y: initial;
	mask-repeat: initial;
	mask-size: initial;
	mask-type: initial;
	max-block-size: initial;
	max-height: initial;
	max-inline-size: initial;
	max-width: initial;
	min-block-size: initial;
	min-height: initial;
	min-inline-size: initial;
	min-width: initial;
	mix-blend-mode: initial;
	object-fit: initial;
	object-position: initial;
	offset-block-end: initial;
	offset-block-start: initial;
	offset-inline-end: initial;
	offset-inline-start: initial;
	opacity: initial;
	order: initial;
	outline-color: initial;
	outline-offset: initial;
	outline-style: initial;
	outline-width: initial;
	overflow-x: initial;
	overflow-y: initial;
	padding-block-end: initial;
	padding-block-start: initial;
	padding-bottom: initial;
	padding-inline-end: initial;
	padding-inline-start: initial;
	padding-left: initial;
	padding-right: initial;
	padding-top: initial;
	page-break-after: initial;
	page-break-before: initial;
	page-break-inside: initial;
	paint-order: initial;
	perspective: initial;
	perspective-origin: initial;
	pointer-events: initial;
	position: initial;
	quotes: initial;
	resize: initial;
	right: initial;
	ruby-align: initial;
	ruby-position: initial;
	scroll-behavior: initial;
	scroll-snap-coordinate: initial;
	scroll-snap-destination: initial;
	scroll-snap-points-x: initial;
	scroll-snap-points-y: initial;
	scroll-snap-type-x: initial;
	scroll-snap-type-y: initial;
	shape-rendering: initial;
	stop-color: initial;
	stop-opacity: initial;
	stroke: initial;
	stroke-dasharray: initial;
	stroke-dashoffset: initial;
	stroke-linecap: initial;
	stroke-linejoin: initial;
	stroke-miterlimit: initial;
	stroke-opacity: initial;
	stroke-width: initial;
	table-layout: initial;
	text-align: initial;
	text-align-last: initial;
	text-anchor: initial;
	text-combine-upright: initial;
	text-decoration-color: initial;
	text-decoration-line: initial;
	text-decoration-style: initial;
	text-emphasis-color: initial;
	text-emphasis-position: initial;
	text-emphasis-style: initial;
	text-indent: initial;
	text-justify: initial;
	text-orientation: initial;
	text-overflow: initial;
	text-rendering: initial;
	text-shadow: initial;
	text-transform: initial;
	top: initial;
	touch-action: initial;
	transform: initial;
	transform-box: initial;
	transform-origin: initial;
	transform-style: initial;
	transition-delay: initial;
	transition-duration: initial;
	transition-property: initial;
	transition-timing-function: initial;
	vector-effect: initial;
	vertical-align: initial;
	visibility: initial;
	white-space: initial;
	width: initial;
	will-change: initial;
	word-break: initial;
	word-spacing: initial;
	overflow-wrap: initial;
	writing-mode: initial;
	z-index: initial;
}
.eapps-pricing-table {
	position: relative;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	line-height: 1.2308;
	font-weight: 400;
	min-width: 320px;
	margin: 0 auto 50px !important;
}
.eapps-pricing-table.eapps-pricing-table-one-column,
.eapps-pricing-table.eapps-pricing-table-small-padding {
	min-width: auto;
}
.eapps-pricing-table-horizontal-scroll .eapps-pricing-table-columns-container {
	justify-content: flex-start;
	padding: 10px;
}
.eapps-pricing-table-columns-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.eapps-pricing-table-columns-container-fixed,
.eapps-pricing-table-columns-container-scrollable {
	padding: 5px;
}
.eapps-pricing-table-columns-container-fixed {
	flex-shrink: 0;
	display: flex;
}
.eapps-pricing-table-columns-container-scrollable {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: scroll;
}
.eapps-pricing-table-column {
	flex-grow: 1;
	flex-basis: 320px;
	background: #fff;
	min-width: 160px;
	max-width: 320px;
	text-align: center;
	position: relative;
	margin: 0 10px;
	z-index: 1;
}
.eapps-pricing-table-column-head-mobile-inner {
	display: none;
	box-sizing: content-box;
}
.eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item {
	text-align: left;
	justify-content: left;
	box-sizing: content-box;
}
.eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-title {
	padding-left: 12px;
	padding-right: 12px;
}
.eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-title-text {
	font-size: 15px;
	line-height: 33px;
}
.eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-features-item-inner {
	padding-left: 12px;
	padding-right: 12px;
	text-align: left;
}
.eapps-pricing-table-column-item {
	display: block;
	position: relative;
	margin: 32px 0 10px;
	box-sizing: content-box;
}
.eapps-pricing-table-column-item-disabled {
	display: none;
}
.eapps-pricing-table-column-small .eapps-pricing-table-column-item-inner .eapps-pricing-table-column-item {
	padding-left: 24px;
	padding-right: 24px;
}
.eapps-pricing-table-column-item-inner .eapps-pricing-table-column-item.eapps-pricing-table-column-item-with-background {
	margin: 0;
	padding-top: 32px;
	padding-bottom: 32px;
}
.eapps-pricing-table-column-item-inner .eapps-pricing-table-column-item:not(.eapps-pricing-table-column-features-container):not(.eapps-pricing-table-column-picture-container) {
	padding-left: 32px;
	padding-right: 32px;
}
.eapps-pricing-table-column-picture {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: calc(100% + 2px);
}
.eapps-pricing-table-column-picture-container {
	overflow: hidden;
	margin: 0;
}
.eapps-pricing-table-column-title {
	z-index: 1;
}
.eapps-pricing-table-column-title-container {
	display: flex;
	justify-content: center;
}
.eapps-pricing-table-column-title-text {
	color: #17191a;
	font-size: 24px;
	font-weight: 400;
	word-break: break-word;
	line-height: 30px;
}
.eapps-pricing-table-column-title-caption {
	color: rgba(23,25,26,0.7);
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.eapps-pricing-table-column-title-text + .eapps-pricing-table-column-title-caption {
	margin-top: 4px;
}
.eapps-pricing-table-column-features-item {
	color: #17191a;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	position: relative;
}
.eapps-pricing-table-column-features-item:before,
.eapps-pricing-table-column-features-item:after {
	background-color: #17191a;
	opacity: 0.1;
}
.eapps-pricing-table-column-features-item-inner {
	display: flex;
	padding: 5px 32px;
	align-items: flex-start;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-features-item-inner {
	padding: 8px 20px;
}
.eapps-pricing-table-column-features-left .eapps-pricing-table-column-features-item-inner {
	text-align: left;
	justify-content: left;
	min-height: 45px;
}
.eapps-pricing-table-column-features-center .eapps-pricing-table-column-features-item-inner {
	text-align: center;
	justify-content: center;
}
.eapps-pricing-table-column-features-item-icon {
	display: block;
	width: 16px;
	height: 16px;
}
.eapps-pricing-table-column-features-item-icon-container {
	width: 16px;
	height: 16px;
}
.eapps-pricing-table-column-features-item-icon-container + .eapps-pricing-table-column-features-item-text {
	margin-left: 8px;
}
.eapps-pricing-table-column-features-divided .eapps-pricing-table-column-features-item:after,
.eapps-pricing-table-column-features-divided .eapps-pricing-table-column-features-item:first-child:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	opacity: 0.05;
}
.eapps-pricing-table-column-features-divided .eapps-pricing-table-column-features-item:after {
	left: 0;
	bottom: 0;
}
.eapps-pricing-table-column-features-divided .eapps-pricing-table-column-features-item:before {
	left: 0;
	top: 0;
}
.eapps-pricing-table-column-features-striped .eapps-pricing-table-column-features-item:nth-child(2n-1):after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	pointer-events: none;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.eapps-pricing-table-column-price-wrapper {
	font-weight: 400;
	color: #17191a;
}
.eapps-pricing-table-column-price-currency {
	opacity: 0.7;
	font-weight: 400;
}
.eapps-pricing-table-column-price-text {
	display: inline-block;
	line-height: 1.2;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-price-text {
	display: block;
}
.eapps-pricing-table-column-price-fix {
	opacity: 0.7;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-price-fix {
	display: block;
}
.eapps-pricing-table-column-price-fix-prefix {
	padding-right: 4px;
	font-size: 11px;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-price-fix-prefix {
	padding-right: 0;
}
.eapps-pricing-table-column-price-fix-postfix {
	font-size: 15px;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-price-fix-postfix {
	padding-top: 4px;
}
.eapps-pricing-table-column-price-caption {
	color: #7f8588;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}
.eapps-pricing-table-column-price-text + .eapps-pricing-table-column-price-caption {
	margin-top: 4px;
}
.eapps-pricing-table-column-button {
	box-sizing: border-box;
	display: inline-block;
	align-items: center;
	justify-content: center;
	outline: none;
	color: #fff;
	background: #f0542e;
	min-width: 100px;
	max-width: 100%;
	cursor: pointer;
	font-size: 13px;
	font-weight: 500;
	height: 32px;
	transition: all 0.2s ease;
	padding: 0 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 4px;
	opacity: 1;
}
.eapps-pricing-table-column-button .eapps-pricing-table-small-padding {
	padding: 0 12px;
}
.eapps-pricing-table-column-button:hover {
	opacity: 0.8;
}
.eapps-pricing-table-column-button-container {
	text-align: center;
}
.eapps-pricing-table-column-button-type-outline {
	color: #1c91ff;
	border: 1px solid #1c91ff;
	background: transparent;
}
.eapps-pricing-table-column-button-type-filled {
	color: #fff;
	background: #1c91ff;
	border: 1px solid transparent;
}
.eapps-pricing-table-column-button-size-small {
	height: 32px;
	line-height: 30px;
	min-width: 80px;
	padding: 0 24px;
}
.eapps-pricing-table-column-button-size-medium {
	height: 36px;
	line-height: 34px;
	padding: 0 32px;
	font-size: 15px;
}
.eapps-pricing-table-column-button-size-large {
	height: 40px;
	line-height: 38px;
	padding: 0 40px;
	font-size: 17px;
}
.eapps-pricing-table-column-button-caption {
	color: #7f8588;
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
}
.eapps-pricing-table-column-button + .eapps-pricing-table-column-button-caption {
	margin-top: 12px;
}
.eapps-pricing-table-column-ribbon {
	background: #fff;
	color: #f0542e;
	position: absolute;
	display: block;
	top: 18px;
	right: -30px;
	width: 128px;
	padding: 9px 20px 8px;
	margin: 0;
	transform: rotate(45deg);
	height: 32px;
	z-index: 2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.eapps-pricing-table-column-ribbon-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
	overflow: hidden;
}
.eapps-pricing-table-column-featured {
	margin-top: -20px !important;
	margin-bottom: -20px !important;
	z-index: 3;
	box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:first-child {
	padding-top: 20px;
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:first-child.eapps-pricing-table-column-item-with-background {
	padding-top: 52px !important;
}
.eapps-pricing-table-one-column .eapps-pricing-table-column-featured .eapps-pricing-table-column-item:first-child.eapps-pricing-table-column-item-with-background {
	padding-top: 36px !important;
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child {
	padding-bottom: 20px;
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child.eapps-pricing-table-column-item-with-background {
	padding-bottom: 52px !important;
}
.eapps-pricing-table-one-column .eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child.eapps-pricing-table-column-item-with-background {
	padding-bottom: 36px !important;
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item:first-child {
	padding-top: 20px;
}
.eapps-pricing-table-column-featured .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item:first-child.eapps-pricing-table-column-item-with-background {
	padding-top: 52px !important;
	margin: 0;
}
.eapps-pricing-table-one-column .eapps-pricing-table-column-featured .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item:first-child.eapps-pricing-table-column-item-with-background {
	padding-top: 36px !important;
}
.eapps-pricing-table-layout-columns .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 16px;
}
.eapps-pricing-table-layout-columns .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-layout-columns .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column {
	margin-left: 0;
	margin-right: 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child {
	border-radius: 16px 0 0 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 0 0 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 0 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child {
	border-radius: 0 16px 16px 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child .eapps-pricing-table-column-item:first-child {
	border-radius: 0 16px 0 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:only-child {
	border-radius: 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:only-child .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:only-child .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured {
	border-radius: 16px;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column {
	margin-left: 0;
	margin-right: 0;
	min-width: 160px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column-inner {
	flex-grow: 1;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column-item {
	border-radius: 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child {
	border-radius: 16px 0 0 16px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 0 0 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:first-child .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 0 16px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child {
	border-radius: 0 16px 16px 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child .eapps-pricing-table-column-item:first-child {
	border-radius: 0 16px 0 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16:last-child .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured {
	border-radius: 16px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16.eapps-pricing-table-column-featured .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column-head .eapps-pricing-table-column-item {
	text-align: left;
	justify-content: left;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column-head .eapps-pricing-table-column-title-container {
	padding-left: 32px;
	padding-right: 32px;
}
.eapps-pricing-table-layout-table .eapps-pricing-table-column-head .eapps-pricing-table-column-title-text {
	font-size: 15px;
}
.eapps-pricing-table-one-column .eapps-pricing-table-columns-container {
	flex-direction: column;
	align-items: center;
}
.eapps-pricing-table-one-column .eapps-pricing-table-column {
	margin: 10px !important;
	width: 100%;
	flex-basis: auto;
	z-index: initial;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 16px;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 16px 0 0;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-grid .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 16px;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column {
	display: flex;
	flex-direction: row;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 {
	border-radius: 16px;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:first-child {
	border-radius: 0 16px 0 0;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 16px 0;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item:first-child {
	border-radius: 16px 0 0 0;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column.eapps-pricing-table-column-border-radius-16 .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-item:last-child {
	border-radius: 0 0 0 16px;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column-head-mobile-inner {
	display: block;
	border-radius: 16px 0 0 16px;
}
.eapps-pricing-table-one-column.eapps-pricing-table-layout-table .eapps-pricing-table-column-head {
	display: none;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column {
	width: 100%;
}
.eapps-pricing-table-small-padding.eapps-pricing-table-layout-columns-item {
	padding: 0 24px;
}
.eapps-pricing-table-small-padding .eapps-pricing-table-column-item-inner .eapps-pricing-table-column-item:not(.eapps-pricing-table-column-features-container):not(.eapps-pricing-table-column-picture-container) {
	padding-left: 24px;
	padding-right: 24px;
}
.eapps-pricing-table-hint {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: static;
	background: inherit;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 1px;
	opacity: 1;
}
.eapps-pricing-table-hint-container {
	width: 16px;
	height: 16px;
	margin-left: 4px;
	cursor: pointer;
}
.eapps-pricing-table-hint * {
	pointer-events: none;
}
.eapps-pricing-table-hint-icon svg {
	width: 14px;
	height: 14px;
}
.eapps-pricing-table-hint-icon-not-active {
	opacity: 0.4;
	display: block;
}
.eapps-pricing-table-hint-icon-active {
	display: none;
}
.eapps-pricing-table-hint:hover .eapps-pricing-table-hint-icon-not-active {
	display: none;
}
.eapps-pricing-table-hint:hover .eapps-pricing-table-hint-icon-active {
	display: block;
}
.eapps-pricing-table-toggle-container {
	margin: 0 auto 48px;
	display: flex;
	justify-content: center;
}
.eapps-pricing-table-toggle-inner {
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 20px;
}
.eapps-pricing-table-toggle-item {
	display: block;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}
.eapps-pricing-table-toggle-item:last-child {
	margin-right: 0;
}
.eapps-pricing-table-toggle-item-not-active .eapps-pricing-table-toggle-item-name {
	background-color: transparent;
	border-color: rgba(28,145,255,0.1);
	opacity: 0.8;
}
.eapps-pricing-table-toggle-item-not-active .eapps-pricing-table-toggle-item-name:hover {
	opacity: 1;
}
.eapps-pricing-table-toggle-item-active .eapps-pricing-table-toggle-item-name {
	background-color: #1c91ff;
	border-color: transparent;
}
.eapps-pricing-table-toggle-item-hint {
	max-width: 100%;
	height: auto;
	padding: 4px 8px;
	margin-bottom: 8px;
	font-size: 12px;
	background: rgba(28,145,255,0.1);
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 100%;
	border-radius: 4px;
	text-align: center;
	transition: all 0.3s;
}
.eapps-pricing-table-toggle-item-hint:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.1;
	border-style: solid;
	border-width: 6px 8px 0 8px;
	border-color: currentColor transparent transparent transparent;
}
.eapps-pricing-table-one-column .eapps-pricing-table-toggle-item-hint {
	display: none;
}
.eapps-pricing-table-toggle-item-name {
	text-align: center;
	box-sizing: border-box;
	padding: 6px 22px;
	font-size: 15px;
	border-radius: 4px;
	border: solid 1px rgba(28,145,255,0.1);
}
.eui-tooltip {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
	opacity: 0;
	visibility: hidden;
	transition: top 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.29), left 0.3s cubic-bezier(0.25, 0.1, 0.11, 1.29), opacity 0.3s ease;
	z-index: 9999;
	width: 320px;
	position: fixed;
	padding-top: 12px;
}
.eui-tooltip-active {
	opacity: 1;
	visibility: visible;
}
.eui-tooltip-content {
	color: #fff;
	word-break: break-word;
	text-align: center;
}
.eui-tooltip-content-inner {
	position: relative;
	background: #343738;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.2);
	padding: 12px 20px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	font-size: 14px;
}

@media(max-width:992px) {
	#eapps-pricing-table-1 .eapps-pricing-table-column-1{
		display: none;
	}
	.eapps-pricing-table-layout-table .eapps-pricing-table-column-inner{
		width: 50%;
	}
	.eapps-pricing-table-column-head-mobile-inner{
		display: block;
		width: 50%;
	}
	.eapps-pricing-table-columns-container{
		display: block;
	}
	.eapps-pricing-table-column{
		max-width: none;
	}
	.eapps-pricing-table-layout-table .eapps-pricing-table-column{
		display: flex;
		margin-bottom: 30px;
	}
	.eapps-pricing-table-layout-table .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-title-container{
		margin-bottom: 148px;
	}
	.eapps-pricing-table-column-item{
		margin: 10px 0;
	}
	.eapps-pricing-table-column-features-left .eapps-pricing-table-column-features-item-inner{
		min-height: 30px;
	}
	.eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-features-item-inner{
		text-align: right;
		display: block;
	}
	.eapps-pricing-table-column-featured{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		box-shadow: 0 0 0 1px rgba(0,0,0,.05) !important;
	}
}

@media(max-width:500px) {
	.eapps-pricing-table-layout-table .eapps-pricing-table-column-head-mobile-inner .eapps-pricing-table-column-title-container {
		margin-bottom: 165px;
	}
	.eapps-pricing-table-column-features-left .eapps-pricing-table-column-features-item-inner{
		min-height: 43px;
	}
	.eapps-pricing-table-column-price-container.eapps-pricing-table-column-item {
		margin: 10px 0 30px;
	}
	.eapps-pricing-table-column-features-item-inner{
		padding: 5px 10px;
	}
	.eapps-pricing-table-column-ribbon{
		font-size: 10px;
		padding: 7px 20px 4px;
		height: 25px;
	}
}
