/*
	Theme Name: Motors - Child Theme
	Theme URI: http://motors.stylemixthemes.com/
	Author: StylemixThemes
	Author URI: http://stylemixthemes.com/
	Description: Motors Child theme
	Version: 2.5
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: blue, red, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, flexible-header, custom-background, custom-colors, custom-header, custom-menu, editor-style, sticky-post, theme-options
	Text Domain: motors-child
    Template: motors

    This theme, like WordPress, is licensed under the GPL.
    Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Do not Add your own styles here, better go to assets/css/* and put your styles there!!!! */
:root {
    --radius: 0px;
    --baseFg: dimgray;
    --baseBg: #eceff3;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

[v-cloak] {
    display: none;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    left: 0;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

select.no-select2 {
    height: 40px;
    width: 100%;
    /* font: 400 12px/1.3 sans-serif; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: none;
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
    background-color: #eceff3;
    background-position: right 10px center, right bottom, right bottom, right bottom;
}


.stm-template-listing_four .stm-form-price-edit {
    margin-bottom: 25px !important;
}
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user,
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user::before,
.stm-template-listing_four .stm_add_car_form .stm-form-checking-user::after {
    background-color: #fff !important;
    padding: 10px 0 !important;
}

.add-car-btns-wrap {
    justify-content: center;
    margin-bottom: 25px !important;
}
.owl-stage.active {
    transition: none !important;
}

.fancybox-is-open .fancybox-bg {
    opacity: 1 !important;
}

.fancybox-bg {
    background-color: #000 !important;
}

.fancybox-infobar {
    opacity: 1 !important;
    visibility: visible !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 999999;
    mix-blend-mode: unset !important;
    color: #fff !important;
    font-size: 18px !important;
}

.fancybox-toolbar {
    display: flex !important;
    flex-direction: row-reverse;
    left: 0 !important;
    right: unset !important;
}

.fancybox-loading {
    display: none !important;
}

#remove_all {
    padding-right: 13px !important;
}

#remove_all a {
    text-decoration: none !important;
    color: #555;
}
.lg-outer .lg-item{
    background: none !important;
}
.animated {
    -webkit-animation-duration: 0ms !important;
    animation-duration: 0ms !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode: both !important;
}



.single-car-prices {
    background-color: #232628;
}

.input-group.has_error {
    border-radius: 6px;
}

input.has_error, .input-group.has_error {
    border: 2px solid red !important;
}

.select2.has_error .select2-selection__rendered {
    border: 1px solid red !important;
}

.scrollToTop {
    position: fixed;
    bottom: 6%;
    right: 3%;
    z-index: 10000;
    width: 50px;
    height: 50px;
    background-color: #db1c22;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #db1c22;
    transition: .25s all;
    opacity: 0;
    visibility: hidden;
}

.scrollToTop:hover {
    color: #fff;
}

.scrollToTop.active {
    opacity: 1;
    visibility: visible;
}

.custom-thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}

.custom-thumbnails .image_wrapper {
    width: 25%;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    position: relative;
    top: -40px;
    border: none !important;
}

.custom-thumbnails .image_wrapper:last-child {
    margin-right: auto;
}

.custom-thumbnails .image_wrapper.active > div {
    border: 2px solid #000;
}

.error404 #wrapper {
    position: static !important;
}

#single-car-price {
    margin: 10px 0 20px 0;
}

#listings-result .owl-prev,
#listings-result .owl-next {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 40%;
    /*display: block !important;*/
    border: 0px solid black;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#listings-result .owl-prev {
    left: 10px;
}

#listings-result .owl-next {
    right: 10px;
}

#listings-result .owl-prev i,
#listings-result .owl-next i {
    width: 100%;
    height: 100%;
}

.plan-wrapper {
    border: 2px solid;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    min-height: 300px;
}

.plan-wrapper ul {
    padding: 0;
    list-style: none;
}

.plan-wrapper h4 {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.plan-wrapper h5 {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #bab7b6;
}

.plan-wrapper .select button {
    min-width: 140px;
    margin-top: 20px;
}

.plan-wrapper:hover {
    transition: .3s all;
    box-shadow: #0a0a0a;
}

.plan-wrapper .price {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.plan-wrapper .feature_value {
    font-weight: bold;
}

.plan-wrapper button {
    background-color: #db1c22;
    border-radius: 2px;
}

.ais-Hits .owl-controls {
    margin: 0;
}

ol.ais-Hits-list {
    list-style: none;
}

ul.ais-Pagination-list {
    list-style: none;
    display: flex;
}

ul.ais-Pagination-list li {
    padding: 5px;
}

ul.ais-RefinementList-list {
    list-style: none;
}

.ais-RefinementList-checkbox {
    -webkit-appearance: checkbox;
}

.ais-Stats {
    display: inherit;
}

.ais-CurrentRefinements-label {
    display: none;
}

.ais-CurrentRefinements-category {
    display: inline-block;
    margin-right: 5px !important;
}

.ais-CurrentRefinements-category div {
    margin-right: 5px;
}

.ais-CurrentRefinements-item {
    padding-right: 5px !important;
}

ul.page-numbers .ais-Pagination-item--selected > a {
    background-color: #000000;
}

.ais-CurrentRefinements {
    display: inline-block;
}

.ais-ClearRefinements {
    display: inline-block;
    cursor: pointer;
    margin-right: 13px;
}

.ais-ClearRefinements .ais-CurrentRefinements-item {
    background-color: #5c707c;
}

.ais-ClearRefinements .ais-CurrentRefinements-item span {
    color: #fff;
}

.stm-clear-listing-one-unit {
    cursor: pointer;
}

.ais-SearchBox {
    padding: 5px 10px 17px 10px;
}

.ais-SearchBox-submit {
    display: none;
}
.ais-SearchBox-reset {
    display: none;
}

.noSpinner::-webkit-inner-spin-button,
.noSpinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .stm-listing-compare {
    bottom: 52px !important;
}

.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .stm-listing-favorite {
    bottom: 85px !important;
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific sli der handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: #db1c22; /* Red background */
    cursor: pointer; /* Cursor on hover */
    -webkit-box-shadow: 0px 0px 5px 0 #888888;
    -moz-box-shadow: 0px 0px 5px 0 #888888;
    box-shadow: 0px 0px 5px 0 #888888;
}

.slider::-ms-fill-lower {
    background: #db1c22;
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #db1c22; /* Red background */
    border-radius: 50%;
    border: 4px solid #ffffff;
    cursor: pointer; /* Cursor on hover */
    -webkit-box-shadow: 0px 0px 5px 0 #888888;
    -moz-box-shadow: 0px 0px 5px 0 #888888;
    box-shadow: 0px 0px 5px 0 #888888;
}

#validation-message {
    float: right;
    width: 100%;
    max-width: 220px;
    margin-top: 3px;
    vertical-align: top;
    font-size: 13px;
    color: #232628 !important;
}

.stm_price_input .input-group-addon {
    font-size: 20px !important;
}

.stm_price_input .input-group .input-group-addon + .form-control {
    border: none;
}
.ais-HitsPerPage{
    padding-top: 10px;
    max-width: 175px;
    margin: 0 auto;
}
.prev_next{
    padding: 20px;
}

.pages{
    cursor: pointer;
}

.header-help-bar .listing_add_cart i {
    display: none;
}

.header-help-bar .lOffer-account i {
    margin-right: 5px;
}

.stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown {
    left: 50% !important;
    margin-left: -107.5px !important;
}

.header-help-bar .lOffer-account,  .header-help-bar .non-logged-in {
    background: transparent !important;
    width: auto !important;
    height: 100% !important;
}

.header-help-bar > ul li a .list-label {
    font-size: 13px !important;
}

.header-help-bar .lOffer-account, .header-help-bar .non-logged-in {
    font-family: Montserrat;
    color: #232628 !important;
    font-size: 13px !important;
    text-transform: uppercase;
    font-weight: 700;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.header-help-bar .non-logged-in {
    width: 109px !important;
}

.header-help-bar .lOffer-account-unit {
    height: 52px;
    margin-left: 5px !important;
}

.header-help-bar .listing_add_cart {
    border: 2px solid rgb(219, 28, 34);
    height: 42px;
    display: flex;
    align-items: center;
}

.header-help-bar .listing_add_cart span {
    margin-right: 0 !important;
}

.header-help-bar .listing_add_cart:hover, .header-help-bar .lOffer-account-unit:hover {
    background: rgb(219, 28, 34);
}

.header-help-bar .lOffer-account-unit:hover a.non-logged-in {
    color: #fff !important;
}

.header-help-bar .lOffer-account {
    padding: 0 20px !important;
}

.header-help-bar .listing_add_cart:hover span.list-label, .header-help-bar .lOffer-account-unit:hover .lOffer-account, .header-help-bar .non-logged-in:hover {
    color: #fff !important;
}

.header-help-bar .stm_edit_disable_car a:hover {
    background: rgba(78, 144, 204, 0.8) !important;
}

.header-help-bar .stm_edit_disable_car a.enable_list:hover, .header-help-bar .stm_edit_disable_car a.as_sold:hover {
    background: rgba(27, 199, 68, 0.5) !important;
}

.stm-template-listing_four .stm_edit_disable_car {
    position: relative !important;
    display: flex;
    opacity: 1 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content .meta-top {
    margin-bottom: 15px !important;
}
.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .meta-middle-row {
    margin-bottom: 0 !important;
}

.stm-template-listing_four .stm_edit_disable_car a {
    margin-right: 10px !important;
    position: relative;
    padding-right: 25px !important;
}
.stm-template-listing_four .stm_edit_disable_car a i{
    position: absolute !important;
    top: 8px !important;
    right: 7px;
    left: auto !important;
}

.stm-template-listing_four .stm_edit_disable_car a:hover {
    background: rgba(78, 144, 204, 0.8) !important;
}

.stm-template-listing_four .stm_edit_disable_car a.as_sold:hover,
.stm-template-listing_four .stm_edit_disable_car a.enable_list:hover {
    background: rgba(27, 199, 68, 0.5) !important;
}

.header-help-bar-trigger {
    display: none !important;
}

.stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown .settings {
    background-color: #eee !important;
}

.woocommerce-cart .stm_breadcrumbs_unit .navxtBreads {
    border-bottom: none!important;
}

.cart_woocommerce-wr {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.cart_woocommerce-form {
    width: 55%;
    position: relative;
}

.cart_woocommerce-collaterals {
    width: 42%;
    margin-left: 30px;
    border-left: 2px solid #ececec;
    padding-left: 30px;
    padding-bottom: 185px;
}

.woocommerce-cart table.cart th {
    border-bottom: none !important;
    color: #9a9a9a;
    padding: 5px 0 !important;
    font-size: 16px !important;
}

.woocommerce-cart-form__contents thead {
    border-bottom: 3px solid #ececec;
    display: block;
}

.woocommerce-cart-form__contents {
    display: block;
}

.woocommerce-cart-form__contents>thead>tr {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-right: 45px !important;
}

.woocommerce-cart-form__contents tbody {
    width: 100%;
    display: block;
    border-bottom: 1px solid #ddd;
}

.woocommerce-cart-form__contents tbody tr {
    width: 100%;
    display: flex;
    align-items: center;
}

.woocommerce-cart table.cart td {
    width: 100%;
    border-bottom: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.woocommerce-cart table.cart td.product-remove {
    max-width: 25px !important;
    padding-left: 0;
    padding-right: 0;
}

.woocommerce table.shop_table a.remove {
    padding-right: 0 !important;
    text-align: center !important;
    border: 2px solid #d0d0d0;
    border-radius: 50%;
    height: 25px;
    color: #d0d0d0 !important;
    padding-top: 0;
}

.product-name_text {
    text-transform: none !important;
}

.woocommerce table.shop_table td.product-name a {
    color: #4f698a !important;
    font-weight: 500;
}

.woocommerce-cart table.cart td.product-price {
    color: #1b1b1b !important;
    text-align: right !important;
    padding-right: 45px !important;
    font-weight: 600 !important;
}

.woocommerce .cart-totals_wrap {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.cart_totals h4 {
    margin-bottom: 15px !important;
    color: #9a9a9a;
    padding: 6.5px 0 !important;
    font-size: 16px !important;
    border-bottom: 3px solid #ececec;
}

.shop_table .order-total td {
    text-align: right;
}

.shop_table .order-total th {
    font-size: 14px !important;
    color: #9a9a9a;
}

.shop_table .order-total {
    border-bottom: 3px solid #ececec;
    display: flex;
    justify-content: space-between;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    width: 100%;
    padding: 13px 16px 12px !important;
    box-shadow: none !important;
}

.woocommerce .coupon input {
    border: 2px solid #e0e0e0 !important;
    background-color: transparent !important;
    width: 100% !important;
}

.woocommerce .coupon input[type=submit] {
    width: 100%;
    background-color: #f9f9f9 !important;
    border: 2px solid #e0e0e0 !important;
    color: #808080 !important;
    margin-top: 20px;
    box-shadow: none !important;
}

.woocommerce .coupon input[type=submit]:hover {
    background-color: #db1c22 !important;
    color: #fff !important;
    border: 2px solid #db1c22 !important;
    opacity: 1 !important;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    opacity: 1 !important;
}

.woocommerce .shop_table.cart .button.update-cart {
    display: none;
}

.woocommerce .shop_table.cart .coupon {
    float: none !important;
    width: 434px;
    position: absolute;
    right: -496px;
    bottom: 30px;
}

.woocommerce-cart table.cart td.actions {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    font-weight: 600;
    color: #a0a0a0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text::placeholder {
    color: #a0a0a0;
}

.woocommerce .shop_table.cart .coupon .coupon_text {
    color: #9a9a9a;
    padding: 6.5px 0 !important;
    font-size: 17px !important;
    border-bottom: 3px solid #ececec;
    font-weight: 700;
}

.woocommerce .shop_table.cart .coupon .coupon_text span.material-icons {
    font-size: 20px;
    opacity: 0.7;
    transform: rotate(90deg);
    top: 5px;
    position: relative;
}

.woocommerce-billing-fields {
    border-top: 2px solid #eceff3;
    padding-top: 20px;
}

#order_review {
    border: 2px solid #446084;
    padding: 15px 30px 30px;
    margin-top: 0;
}

#order_review .colored-separator {
    display: none;
}

.woocommerce-additional-fields h3 {
    display: none;
}

p.form-row-first, p.form-row-last, #billing_address_1_field, #billing_address_2_field {
    width: 48%;
    float: left;
}

p.form-row-first, #billing_address_1_field {
    margin-right: 4% !important;
}

.woocommerce table.shop_table .table_heading th {
    border-bottom: 3px solid #ececec;
}

.cart_item td {
    border-bottom: 1px solid #ececec !important;
    padding-bottom: 10px !important;
    padding-top: 8px !important;
}

.payment_methods.methods label {
    display: inline;
}

.woocommerce-checkout #payment ul.payment_methods {
    padding: 0 !important;
}

.woocommerce-checkout #payment div.payment_box .form-row {
    padding: 0 !important;
    margin: 0 !important;
}

.woocommerce form .form-row .required {
    color: inherit !important;
}

.woocommerce form .form-row label {
    color: #555 !important;
}

table.woocommerce-checkout-review-order-table tbody tr td:first-child {
    padding-left: 0 !important;
}

.woocommerce-checkout #payment ul.payment_methods li.payment_method_stripe {
    border-bottom: 1px solid #ececec !important;
    margin: 0px 0 5px !important;
    padding: 10px 0 5px !important;
}

.woocommerce-checkout #payment ul.payment_methods li {
    margin-top: 10px;
}

.woocommerce-checkout #payment div.payment_box {
    margin: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 20px !important;
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    display: none;
}

.woocommerce-privacy-policy-text {
    display: none;
}

.mailchimp-newsletter .input-checkbox {
    margin: 8px 8px 0 0 !important;
}

.woocommerce-terms-and-conditions-checkbox-text a {
    color: inherit !important;
    text-decoration: underline;
}

.table_heading {
    color: #555 !important;
}

.woocommerce-billing-fields .form-row {
    margin-bottom: 26px !important;
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"], input[type="password"] {
    padding-left: 10px !important;
    padding-right: 5px !important;
}

.woocommerce #order_comments {
    padding-top: 10px;
    padding-left: 5px;
}

#customer_details {
    margin-bottom: 40px;
}

.woocommerce table.shop_table .cart_item .amount {
    color: #232628 !important;
    font-weight: 600 !important;
}

.payment_methods.methods label {
    text-transform: none !important;
}

.product-quantity {
    display: none !important;
}

.stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    position: relative;
}

/*.stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background: #fff;*/
/*} */

.stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr>td {
    width: 30%;
    border-bottom: 1px solid #d5d9e0 !important;
    margin: 0 13px;
}

.stm-template-listing_four .stm-single-car-listing-data table.stm-table-main > tbody > tr:last-child td {
    border-bottom: 0 !important;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    border: 1px solid #f1eded;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

#message h3 {
    font-size: 14px;
}

#message p {
    padding: 0px 8px;
    font-size: 13px;
    margin-bottom: 0;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -6px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -6px;
    content: "✖";
}

.stm-car-carousels .owl-item {
    height: 450px;
}

.stm-car-carousels .owl-item .item {
    height: 100%;
}
.stm-car-carousels .stm-big-car-gallery{
    max-height: 450px;
    /*overflow: hidden;*/
    /*visibility: hidden;*/
}
.stm-big-car-gallery.single-car > .item > a{
    display: none;
}
.stm-big-car-gallery.single-car > .item:nth-of-type(1) a{
    display: block;
}
.custom-thumbnails .image_wrapper{
    /*display: none;*/
}
.stm-car-carousels .carousel_preloader{
    font-size: 10px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(219, 28, 34, 0.2);
    border-right: 1.1em solid rgba(219, 28, 34, 0.2);
    border-bottom: 1.1em solid rgba(219, 28, 34, 0.2);
    border-left: 1.1em solid #db1c22;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}


.scrollToTop{
    display: none;
}
.stm-car-carousels .carousel_preloader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.stm-car-carousels .owl-loaded + .carousel_preloader{
    display: none;
}

.owl-carousel .owl-item img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

/*.single-listings .pswp__button--next {*/
/*    left: 5px !important;*/
/*}*/

/*.single-listings .pswp__button--prev {*/
/*    right: 5px !important;*/
/*}*/


.stm-template-listing_four .stm_listing_car_form input[type="text"], .stm-template-listing_four .stm_listing_car_form input[type="tel"], .stm-template-listing_four .stm_listing_car_form input[type="email"], .stm-template-listing_four .stm_listing_car_form input[type="search"], .stm-template-listing_four .stm_listing_car_form input[type="password"] {
    padding-left: 33px !important;
}

.stm-sort-by-options.emptyInput .stm-select-sorting select option[value=listings_zip] {
    display: none;
}

.stm-form-1-end-unit .select2-container--default.select2-container--disabled .select2-selection--single {
    opacity: 1 !important;
}


.stm-car-carousels.as_sold .owl-item .item,
.stm-template-listing_four .image .image-inner .sold{
    opacity: .5;
}
.stm-template-listing_four .stm-badge-directory{
    z-index: 10;
}

#free_row .col-sm-3,
#standard_row .col-sm-3 {
    width: 100% !important;
}

.stm_edit_pending_car a {
    margin-top: 0 !important;
}

.stm-template-listing_four .stm_edit_pending_car {
    width: 202px !important;
    margin-top: -60px !important;
}

#listings-result .listing-list-loop .content:not(.featured) .title,
.car-listing-row .listing-car-item-meta:not(.featured) .car-title{
    font-weight: 400;
}
.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content:not(.featured) .meta-top .title{
    letter-spacing: .5px;
    word-spacing: .5px;
}
.listing-list-loop .content:not(.featured) .meta-top .price .heading-font,
.car-listing-row .listing-car-item-meta:not(.featured) .price .normal-price{
    font-weight: 400 !important;
}
.listing-list-loop .content:not(.featured) .meta-top .price .normal-price .heading-font{
    font-size: 19px !important;
}
.stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content:not(.featured) .meta-middle .value{
    font-weight: 500 !important;
    color: #232628;
    padding-right: 10px;
}

.alert-box-expired {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alert-box-expired::before {
    margin-top: -10px;
    top: 50%;
}

.stm-template-listing_four .stm_add_car_form .stm-form-checking-user .stm-form-inner .add-car-btns-wrap{
    flex-direction: column-reverse !important;
    text-align: center !important;
}

.stm-template-listing_four .stm-single-car-listing-data table.inner-table tr {
    display: flex;
}

.stm-template-listing_four .stm-single-car-listing-data table.inner-table tr td {
    width: 50%;
}

.stm-profile-settings-mb,
.wrap_plan_info{
    display: none;
}
.wrap_plan_info{
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 100;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    border: 1px solid #dadada;
}

.custom-thumbnails .image_wrapper img {
    max-height: 95px !important;
    width: 100%;
    object-fit: cover;
}

.pswp__button.pswp__button--close{
    display: none !important;
}

.image_uploader .image_wrapper img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.stm-shareble .stm-a2a-popup.stm-a2a-popup-active{
    top: 100% !important;
    padding-top: 9px;
    text-align: center;
    min-width: 162px;
}
.stm-shareble .stm-a2a-popup .addtoany_shortcode{
    display: inline-block;
}
.stm-shareble .stm-a2a-popup .addtoany_shortcode:before,
.stm-shareble .stm-a2a-popup .addtoany_shortcode:after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    width: 10px;
    height: 10px;
    top: 0;
    margin: auto;
}
.stm-shareble .stm-a2a-popup .addtoany_shortcode:before{
    border-color: transparent transparent #ffffff transparent;
    z-index: 2;
}
.stm-shareble .stm-a2a-popup .addtoany_shortcode:after{
    border-color: transparent transparent #dddddd transparent;
    top: -1px;

}

.special-offers .listing-car-items-units{
    margin: 0 auto;
}
.special-offers .listing-car-items .listing-car-item{
    padding: 0;
    float: none;
}
._listing-cars-grid > .dp-in {
    margin-bottom: 40px;
}
._listing-cars-grid > .dp-in .listing-car-item .image {
    margin-bottom: 0;
}
._listing-cars-grid > .dp-in .listing-car-item .image img{
    width: 100%;
}

.car-listing-main-part .car-listing-row .car-meta-bottom ul li.exterior-color,
.special-offers .listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li.exterior-color{
    display: block;
    margin-top: 5px;
}
.car-listing-main-part .car-listing-row .listing-car-item-meta .price,
.car-listing-main-part .car-listing-row .listing-car-item-meta .price:before{
    background-color: #eaedf0;
}
.car-listing-main-part .car-listing-row .listing-car-item-meta .price .normal-price,
.car-listing-main-part .car-listing-row .listing-car-item-meta .price .sale-price{
    color: #232628;
}

.car-listing-tabs-unit.s3xy .car-listing-top-part:before{
    margin-bottom: 0 !important;
}

.stm-template-listing_four .stm-single-car-listing-data table.inner-table tr td.heading-font{
    word-break: break-word;
}
.car-listing-row .col-md-4 {
    margin-bottom: 40px;
}
img.img-responsive.stm-img-placeholder {
    padding-bottom: 0 !important;
}
.special-offers .listing-car-items .listing-car-item .price{
    margin-top: 14px;
}
.row-4 .col-md-4:nth-child(4n+1) {
    clear: both;
}
.car-listing-tabs-unit.extended {
    margin-bottom: 30px !important;
}
.car-listing-tabs-unit.extended .found-cars-cloned{
    margin-top: 27px !important;
}
.car-listing-tabs-unit.extended .found-cars-cloned .found-cars .blue-lt{
    line-height: 12px;
    display: block;
}

.stm-template-listing_four #report-data .stm-single-car-listing-data table.stm-table-main>tbody>tr{
    margin: 0 -5px;
}
.stm-template-listing_four #report-data .stm-single-car-listing-data table.stm-table-main>tbody>tr>td{
    width: 47%;
    margin: 0 6px;
}
.wrap_report_links.hidden-xs{
    margin-top: 33px;
}
.stm-template-listing_four #report-data{
    padding-bottom: 30px;
}
.stm-template-listing_four #report-data .template1_score{
    padding-top: 73px;
    left: 215px;
}
.stm-template-listing_four #report-data .template1_scoreLow,
.stm-template-listing_four #report-data .template1_dash,
.stm-template-listing_four #report-data .template1_scoreHigh,
.stm-template-listing_four #report-data .template1_score{
    z-index: 1;
}
.stm-template-listing_four #report-data .wrap_report_links a{
    display: block;
    border: 2px solid #dadada;
    padding: 10px 10px;
    text-align: center;
    color: #154a8d;
    font-size: 15px;
    margin-top: -19px;
    border-radius: 6px;
}
.stm-template-listing_four #report-data .wrap_report_links a span{
    margin-left: 5px;
}
.stm-template-listing_four #report-data .wrap_report_links a[disabled]:hover{
    text-decoration: none;
}
.stm-template-listing_four #report-data .wrap_report_links.visible-xs a{
    margin-top: 15px;
    font-size: 14px;
}
.stm-template-listing_four #report-data #fastLinkScoreReport{
    display: block;
    text-align: center;
    width: 300px;
}
.stm-template-listing_four #report-data #fastLinkScoreReport > div{
    display: inline-block;
    position: relative;
}

.stm-template-listing_four #report-data .stm-single-car-listing-data table.inner-table tr td.label-td{
    width: 45%;
	margin-right: -5px;
}
.stm-template-listing_four #report-data .stm-single-car-listing-data table.inner-table tr td.heading-font{
    width: 100%;
    padding-left: 5px;
}
#report-data .stm-single-car-listing-data .stm-table-main tbody > tr > td:first-child table.inner-table tr td.heading-font{
    padding-left: 29px;
}
input.active[disabled] {
    background-color: #eceff3 !important;
}

@media (max-width: 991px) and (min-width: 768px){
    .special-offers .row-4 .col-md-3:nth-child(4n+1) {
        float: left;
        clear: none;
    }
    .special-offers .row-4 .col-md-3:nth-child(3n+1) {
        clear: both;
    }
    .special-offers .col-md-3:last-child {
        display: block;
    }
}


@media(min-width: 1025px) {
    .pswp img {
        /*max-width: 1500px !important;*/
        /*max-height: 1200px !important; */
        /*width: auto !important; */
        /*height: auto !important;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*margin: auto;*/
    }
    .pswp--animated-in .pswp__bg, .pswp--animated-in .pswp__zoom-wrap{
        /*transform: none !important;*/
    }
}

@media (max-width: 1199px) {
    .stm-template-listing_four .stm_edit_disable_car{
        flex-wrap: wrap;
    }
    .stm-template-listing_four .stm_edit_disable_car > div{
        display:flex;
        flex-direction:column;
        width: 50%;
    }

    .cart_woocommerce-form, .cart_woocommerce-collaterals {
        width: 50%;
    }

    .cart_woocommerce-wr {
        width: 970px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr>td {
        margin: 0 12px;
    }

    .stm-single-car-content {
        padding-right: 0 !important;
    }

    .stm-template-listing_four .stm-single-car-page>.container>.row>.col-md-9 {
        padding-right: 15px !important;
    }

    .stm-vc-single-car-sidebar-right, .stm-single-car-side {
        margin-left: 0 !important;
    }

    .main-menu .header-menu > li > a {
        padding: 0 19px !important;
    }

    .stm-template-listing_four .lOffer-account-unit {
        margin-right: 0 !important;
    }

    .stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown {
        margin-left: -140.5px !important;
    }

    .stm-car-carousels .owl-item {
        height: 428px;
    }

    .custom-thumbnails .image_wrapper img {
        max-height: 95px !important;
        width: 100%;
        object-fit: cover;
    }
    .stm-template-listing_four .stm-show-password .fa{
        z-index: 100;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    .stm-login-register-form .stm-register-form form{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    #tesla-results.fixed-filter-bar{
        background-color: #fff;
        left: 0;
        width: 100%;
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
    }
    .mobile-menu-holder .header-help-bar .listing_add_cart,
    .stm-template-listing_four .lOffer-account-unit .lOffer-account{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    ._listing-cars-grid > .dp-in .listing-car-item .image img {
        padding: 0 !important;
    }
    .row-4 .col-md-4:nth-child(3n+1) {
        clear: both;
    }
    .row-4 .col-md-4:nth-child(4n+1){
        clear: none;
    }
}

@media (max-width: 1025px){
    .special-offers .listing-car-items .listing-car-item .car-title {
        white-space: normal;
        margin-top: 5px !important;
        line-height: 15px;
        min-height: 45px;
    }
    .special-offers .listing-car-items .listing-car-item .car-meta-bottom {
        min-height: 90px;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta{
        padding: 0px 0px 18px 12px !important;
    }
    .custom-thumbnails .image_wrapper {
        width: 25% !important;
    }
    .special-offers .listing-car-items .listing-car-item .price{
        margin-top: 5px;
    }
    #message{
        position: relative;
    }
}

@media (min-width: 768px) {
    .gallery-carousel {
        display: none !important;
    }

    #actions-2 {
        display: none !important;
    }

    .stm-template-listing_four .listing-list-loop .image .image-inner img {
        -o-object-fit: cover !important;
        object-fit: cover !important;
    }

    #listings-result .listing-list-loop .image {
        float: left !important;
        max-width: 257px !important;
        margin: 0 28px 0 0 !important;
    }

    .stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .meta-middle .value {
        font-size: 10px;
    }
}

@media (min-width: 769px) {
    .car-listing-main-part .car-listing-row .image,
    .special-offers .listing-car-item-inner .image{
        max-height: 149px;
    }
}

@media (min-width: 992px) {
    #single-car-price,
    .custom-thumbnails {
        /*display: none !important;*/
    }

    #actions-2 {
        display: block;
    }
}

@media (max-width: 992px) {
    .owl-stage.active {
        transition: none !important;
    }

    #stm_classified_four_price_view-2 {
        display: none !important;
    }

    .stm-thumbs-car-gallery {
        display: none !important;
    }

    #actions {
        display: none;
    }

    .stm-template-listing_four .stm-single-car-page > .container > .row > .col-md-9 {
        margin-right: 0 !important;
        padding-right: 15px !important;
    }

    .panel-scroll-off, .panel-scroll-off body {
        overflow: hidden;
    }

    .panel-fix-width {
        max-width: 992px !important;
    }

    .panel-scroll-off body {
        position: fixed;
    }

    .header-help-bar .lOffer-account-unit:hover {
        background-color: transparent !important;
    }
    .header-help-bar .lOffer-account-unit:hover a.non-logged-in {
        color: #232628 !important;
    }

    .mobile-menu-holder .header-help-bar .listing_add_cart {
        padding: 0 !important;
        width: 100% !important;
        text-align: center;
        background-color: rgb(219, 28, 34) !important;
    }

    .stm-template-listing_four .header-help-bar .lOffer-account:hover {
        color: #232628 !important;
    }

    .header-help-bar .lOffer-account-unit:hover .lOffer-account {
        color: #232628 !important;
    }

    .mobile-menu-holder .header-help-bar .listing_add_cart span {
        top: -6px;
        color: #fff !important;
    }

    .stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown {
        margin-left: -107.5px !important;
        left: 50%;
        z-index: 2;
    }

    .stm-user-current-plan-info .stm-plan-renew a {
        padding: 17px 28px 15px !important;
        font-size: 14px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #db1c22 !important;
        text-decoration: none !important;
    }

    .stm-template-listing_four .lOffer-account-dropdown {
        display: block !important;
    }

    .stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown .account-list li, .stm-template-listing_four .lOffer-account-unit .lOffer-account-dropdown .name a {
        text-align: left !important;
    }

    .stm-user-current-plan-info {
        padding: 15px 29px 20px;
    }

    .header-help-bar .non-logged-in {
        padding-right: 0 !important;
        justify-content: center;
    }

    .cart_woocommerce-wr {
        width: 100%;
        display: block;
        padding-bottom: 160px;
    }

    .cart_woocommerce-form, .cart_woocommerce-collaterals {
        width: 100%;
    }

    .cart_woocommerce-collaterals {
        margin-left: 0px;
        border-left: none;
        padding-left: 0px;
        padding-bottom: 0px;
        margin-top: 35px;
    }

    .woocommerce .shop_table.cart .coupon {
        left: 0;
        right: 0;
        width: 100%;
        bottom: -365px;
    }

    .woocommerce-cart-form__contents>thead>tr {
        padding-right: 0 !important;
    }

    .woocommerce-cart table.cart td.product-price {
        padding-right: 0 !important;
    }

    .woocommerce-cart table.cart td.product-remove {
        margin-right: 10px;
    }

    .shop_table .order-total td {
        border-bottom: none !important;
    }

    #free_row>.wpb_column {
        width: 50% !important;
    }

    #tesla_pricing .col-sm-3 {
        width: 50% !important;
    }

    #free_row .col-sm-3 {
        width: 100% !important;
    }

    .page-id-6033 #tesla_pricing .col-sm-3 {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .stm-listing-tabs ul li a{
        padding: 0 20px !important;
    }
    .stm-profile-settings-mb {
        display: block;
        float: right;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 9px;
        margin-top: 6px;
    }

    .stm-profile-settings-mb a {
        border: 1px solid #db1c22;
        padding: 5px 10px;
        border-radius: 30px;
    }

    .stm-profile-settings-mb a:hover {
        text-decoration: none;
    }

    .stm-template-listing_four .stm-sort-private-my-cars {
        width: 100%;
    }
    .stm-car-carousels .owl-item {
        max-height: none!important;
    }

    .stm-modern-filter-found-cars{
        float: none !important;
        vertical-align: middle;
        padding-bottom: 0 !important;
    }
    #filter-menu .stm-accordion-content .input-group-btn button{
        box-shadow: none;
    }
    #filter-menu .stm-accordion-content .input-group input.noSpinner.form-control{
        height: 41px;
        line-height: 41px;
    }
    .header-help-bar {
        width: 100% !important;
        float: none !important;
        margin-left: 0 !important;
        top: 0 !important;
    }

    .header-help-bar ul {
        display: block !important;
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        top: 0 !important;
        right: 0 !important;
        background-color: transparent !important;
    }

    .header-help-bar > ul li {
        float: none !important;
    }

    .header-help-bar .lOffer-account-unit {
        /*outline-color: rgb(219, 28, 34) !important;*/
        /*outline-width: 2px !important;*/
        /*outline-style: solid !important;*/
        height: 42px !important;
        width: 100%;
        margin: 0 !important;
        margin-top: 20px !important;
        border: 2px solid rgb(219,28,34);
    }

    .stm-template-listing_four .header-help-bar .lOffer-account {
        background: none !important;
        padding: 0 !important;
        color: #232628 !important;
        opacity: 1;
        display: block !important;
        width: 100% !important;
        text-align: center !important;
    }

    .header-help-bar .lOffer-account i {
        margin-right: 0px;
    }

    .header-help-bar ul li i {
        min-width: auto !important;
    }

    .header-help-bar .non-logged-in {
        width: 100% !important;
    }

    .alert-box-expired {
        margin-top: 0;
    }

    .stm-user-current-plan-info {
        background: #000;
        text-align: center;
        margin-top: 20px;
    }

    .stm-user-current-plan-info .sub-title {
        margin-bottom: 8px;
    }

    .stm-user-current-plan-info .stm-plan-renew a {
        padding-right: 0 !important;
    }
    .special-offers ._listing-cars-grid > .dp-in .listing-car-item .price{
        padding: 2px 6px 2px;
    }
    .special-offers ._listing-cars-grid > .dp-in .listing-car-item .price:before{
        left: -7px !important;
        width: 15px !important;
    }
    .car-listing-main-part .car-listing-row .listing-car-item-meta .car-title{
        margin-top: 0;
        white-space: normal;
        text-overflow: inherit;
        font-size: 13px;
        line-height: 16px;
        min-height: 48px;
    }
}

@media (max-width: 848px ) {
    #stm_sell_a_car_form .stm-form1-intro-unit>.row>.stm-form-1-selects {
        width: 100% !important;
    }
}

@media (max-width: 769px) {
    .hide_on_mobile {
        display: block !important;
    }

    #listings-result .image {
        max-height: none !important;
    }

    #listings-result .image img {
        max-height: initial !important;
    }
    .header-secondary-phone {
        display: none !important;
    }
    .special-offers .listing-cars-grid > .dp-in .listing-car-item .image img{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .select2-search .select2-search__field {
        display: none;
    }

    .stm-template-listing_four .single-car-actions > ul li span i {
        position: relative;
        top: 10px;
        left: -8px;
    }

    ul.page-numbers {
        padding: 45px 20px 0 !important;
    }

    .stm-user-current-plan-info .stm-plan-renew a {
        padding: 17px 28px 15px !important;
        font-size: 14px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #db1c22 !important;
        text-decoration: none !important;
    }

    .stm-form-1-end-unit {
        padding: 0 15px;
    }

    .stn-add-car-location-wrap .stm-car-listing-data-single {
        padding-left: 0 !important;
    }

    .stn-add-car-location-wrap .stm-label {
        margin-left: 0 !important;
    }

    #stm-add-car-location {
        margin-left: 0 !important;
    }

    .stm-form-1-end-unit .stm-form-1-quarter,
    .stm-location-input-wrap.stm-location {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .stm-location-input-wrap.stm-location {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .stm-form-1-end-unit .stm-form-1-quarter .stm-label {

    }

    .stm-form-1-end-unit .stm-form-1-quarter input[type="text"],
    .stm-form-1-end-unit .stm-form-1-quarter input[type="number"] {
        width: 100%;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter .select2 {
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    a img.alignnone {
        margin-right: 0 !important;
    }

    ol.ais-Hits-list {
        padding-left: 0 !important;
    }

    .car-listing-tabs-unit .car-listing-top-part {
        padding-bottom: 10px;
    }

    .listing-list-loop .content .meta-middle .meta-middle-unit {
        margin-bottom: 0px !important;
    }

    .stm-template-listing_four .listing-list-loop-edit.draft:before,
    .stm-template-listing_four .listing-list-loop-edit.pending:before,
    .stm-template-listing_four .listing-list-loop-edit.as_sold:before {
        content: none !important;
    }

    .stm-template-listing_four .listing-list-loop-edit.draft .image:before,
    .stm-template-listing_four .listing-list-loop-edit.pending .image:before,
    .stm-template-listing_four .listing-list-loop-edit.as_sold .image:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 55;
    }

    .stm-template-listing_four .listing-list-loop-edit.draft .content:before,
    .stm-template-listing_four .listing-list-loop-edit.pending .content:before,
    .stm-template-listing_four .listing-list-loop-edit.as_sold .content:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 55;
    }

    #order_review {
        padding: 15px 15px 30px;
        margin-top: 30px;
    }

    .panel-fix-width {
        max-width: 768px !important;
    }

    .mobile-menu-holder {
        margin: 0 -15px 0px !important;
    }

    .stm-user-current-plan-info .sub-title {
        font-size: 13px !important;
        font-weight: 700;
        text-transform: uppercase;
    }

    .stm-user-current-plan-info .stm-plan-name {
        font-size: 13px;
    }

    .stm-user-current-plan-info .stm-plan-renew a {
        padding: 10px 0px 10px !important;
        font-size: 13px !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        background-color: #db1c22 !important;
        text-decoration: none !important;
        width: 160px;
        margin: 0 auto;
    }

    #stm_sell_a_car_form .stm-form1-intro-unit > .row > .stm-form-1-selects {
        width: 100% !important;
    }

    .stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter {
        width: 100% !important;
    }

    .stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter input[type="text"], .stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter .select2 {
        float: left !important;
    }

    .stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stn-add-car-location-wrap .stm-form-1-quarter .stm-location-input-wrap {
        width: 100% !important;
    }

    .stm-template-listing_four .stm-user-private .stm-user-private-main .stm-seller-title.stm-main-title {
        float: left !important;
    }

    .stm-template-listing_four .stm-sort-private-my-cars {
        width: 100%;
    }

    .custom-thumbnails{
        margin: 0 -5px;
    }
    .custom-thumbnails .image_wrapper{
        padding: 5px;
    }
    .stm-template-listing_four .stm-single-car-listing-data table.stm-table-main > tbody > tr:last-child > td{
        border-bottom: 1px solid #d5d9e0 !important;
    }
    .stm-template-listing_four .stm-single-car-listing-data table.stm-table-main > tbody > tr:last-child > td:last-child{
        border-bottom: none !important;
    }
    .stm-template-listing_four #report-data .stm-single-car-listing-data table.stm-table-main > tbody > tr:last-child > td {
        border-bottom: 1px solid #d5d9e0 !important;
    }
}

@media (max-width: 767px ) {
    .car-listing-tabs-unit:not(.extended) .stm-listing-tabs {
        display: none;
    }
    .listing-list-loop .image .image-inner{
        min-height: 208px !important;
    }

    .stm-template-listing_four .stm_edit_disable_car a {
        margin-right: 5px !important;
        margin-left: 5px !important;
        padding: 0 10px 0 15px !important;
    }

    .stm-template-listing_four .stm_edit_disable_car a:last-child {
        margin: 5px;
    }

    .stm-template-listing_four .stm_edit_disable_car a i {
        margin-left: 3px !important;
    }

    .stm-template-listing_four .listing-list-loop-edit.draft .stm_edit_disable_car a, .stm-template-listing_four .listing-list-loop-edit.pending .stm_edit_disable_car a, .stm-template-listing_four .listing-list-loop-edit.as_sold .stm_edit_disable_car a {
        padding: 0 10px 0 15px !important;
    }

    .woocommerce .shop_table.cart .button.update-cart {
        display: none !important;
    }

    .woocommerce-cart table.cart th {
        font-size: 14px !important;
    }

    .woocommerce-cart-form__contents thead {
        border-bottom: 2px solid #ececec !important;
    }

    .cart_totals h4 {
        font-size: 14px !important;
        border-bottom: 2px solid #ececec !important;
    }

    .woocommerce .shop_table.cart .coupon .coupon_text {
        font-size: 14px !important;
        border-bottom: 2px solid #ececec !important;
    }

    .shop_table .order-total {
        border-bottom: 2px solid #ececec !important;
    }

    .woocommerce .shop_table.cart .coupon .coupon_text span.material-icons {
        font-size: 16px;
        top: 4px;
    }

    .stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr {
        margin: 0;
    }

    .stm-template-listing_four .stm-single-car-listing-data table.stm-table-main>tbody>tr>td {
        width: 100%;
        margin: 0px;
    }

    .hide_on_mobile {
        display: none !important;
    }

    /*.stm-car-carousels .owl-item {*/
    /*    height: auto;*/
    /*}*/

    .alert-box-expired {
        margin-top: 10px;
    }

    #free_row>.wpb_column {
        width: 100% !important;
    }

    #tesla_pricing .col-sm-3 {
        width: 100% !important;
    }

    .stm-template-listing_four .stm-single-listing-car-features .lists-inline > ul {
        margin-bottom: 0 !important;
    }

    #listings-result .image {
        max-height: 300px;
    }

    .stm-template-listing_four .stm-user-private-main .listing-list-loop .image .image-inner img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        padding-bottom: 0 !important;
    }
    .stm-template-listing_four .stm-user-private-main .listing-list-loop.stm-listing-directory-list-loop .content .meta-top .price{
        margin-top: -62px;
    }

    #listings-result .image img {
        width: 100%;
        max-height: 320px !important;
        height: auto;
        object-fit: cover;
        padding-bottom: 0 !important;
        position: static;
        transform: none;
    }
    .stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content:not(.featured) .meta-middle .value{
        padding-left: 25px;
    }
    .listing-list-loop .content .title{
        padding-top: 0px!important;
    }
    .stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content .meta-top .price{
        margin-top: -69.5px;
        position: relative;
        z-index: 100;
        margin-bottom: 20px;
    }
    .stm-template-listing_four .listing-list-loop.stm-listing-directory-list-loop .content{
        margin-top: 0 !important;
        overflow: visible !important;
        padding-bottom: 25px !important;
    }

    .special-offers .listing-cars-grid > .dp-in .listing-car-item .image img{
        width: 100%;
    }

    .car-listing-row .stm-template-front-loop .listing-car-item-meta,
    .listing-car-items-units .stm-template-front-loop .listing-car-item-meta{
        padding-top: 0;
    }

    .car-listing-row .stm-template-front-loop .listing-car-item-meta .car-title,
    .listing-car-items-units .stm-template-front-loop .listing-car-item-meta .car-title{
        margin-top: 0;
        font-size: 12px;
        line-height: 16px;
        white-space: normal;
    }

    .stm-template-listing_four .stm-template-front-loop .car-meta-bottom ul li {
        margin-top: 0 !important;
    }
    ._listing-cars-grid > .dp-in .listing-car-item{
        padding: 0;
    }
    .listing-car-items-units{
        margin: 0 auto !important;
    }
    .special-offers ._listing-cars-grid > .dp-in .listing-car-item{
        padding: 0;
    }
    .special-offers ._listing-cars-grid{
        display: block;
    }
    .special-offers ._listing-cars-grid > .dp-in{
        margin-bottom: 30px;
        float: none;
        display: inline-block;
    }
    .special-offers .listing-car-items .listing-car-item .price{
        float: right;
    }
    .special-offers .listing-car-items .listing-car-item .car-title{
        clear: none !important;
        padding-top: 0;
    }
    .listing-car-items .listing-car-item .listing-car-item-inner {
        max-width: none !important;
    }
    .special-offers .listing-car-items .listing-car-item .car-meta-bottom,
    .special-offers .listing-car-items .listing-car-item .car-title{
        min-height: auto;
    }
    .car-listing-main-part .car-listing-row .listing-car-item-meta .price{
        margin-top: -45px;
    }
    .car-listing-main-part .car-listing-row .listing-car-item-meta .car-title{
        min-height: auto;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: -0.5px !important;
        word-spacing: 0 !important;
        font-size: 19px;
        overflow: visible;
        text-transform: none;
        color: #db1c22;
    }
    .car-listing-main-part .stm-template-front-loop .car-meta-bottom ul li{
        display: block !important;
        width: 100% !important;
    }
    .car-listing-main-part .car-listing-row .car-meta-bottom ul li i{
        min-width: 15px;
        text-align: center;
    }
    .car-listing-main-part .meta-middle .meta-middle-unit.font-exists .meta-middle-unit-top {
        display: inline-block;
        padding-left: 25px;
        position: relative;
        padding-top: 0px;
    }
    .car-listing-main-part .meta-middle .meta-middle-unit .icon{
        position: absolute;
        margin-top: 1px;
        top: 50%;
        left: 1px;
        transform: translateY(-50%);
        color: #888;
        font-size: 15px;
    }
    .car-listing-main-part .meta-middle .meta-middle-unit .name{
        font-size: 14px;
        text-transform: none;
        color: #888;
    }
    .car-listing-main-part .car-listing-row .car-meta-top{
        border: none;
    }
    .car-listing-main-part .meta-middle .meta-middle-unit.font-exists .value{
        display: inline-block;
        padding-left: 5px;
        font-size: 13px;
        font-weight: 700 !important;
        color: #222;
        margin-top: -5px;
        margin-bottom: 0;
        line-height: normal;
    }
    .car-listing-main-part .meta-middle{
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }
    .listing-car-items.car-listing-main-part .meta-middle .meta-middle-unit.font-exists .value{
        color: #fff;
    }
    .listing-car-items.car-listing-main-part .meta-middle{
        border: none;
        padding-bottom: 0;
        padding-top: 15px;
    }
    .special-offers .listing-car-items .listing-car-item .price{
        margin-top: -40px;
    }
    .special-offers .listing-car-items .listing-car-item .car-title{
        margin-top: 15px !important;
        overflow: visible;
        font-size: 19px;
        text-transform: none;
        line-height: 22px;
    }
    .special-offers .listing-car-items .listing-car-item .price .normal-price{
        font-size: 20px;
    }
    .car-listing-main-part .car-listing-row .listing-car-item-meta .price .normal-price,
    .car-listing-main-part .car-listing-row .listing-car-item-meta .price .sale-price{
        font-size: 20px;
    }
    .pswp{
        height: 105% !important;
        margin-top: -3px;
    }
    .stm-template-listing_four #report-data .stm-single-car-listing-data table.stm-table-main>tbody>tr>td{
        width: 100%;
    }
    .stm-template-listing_four #report-data #fastLinkScoreReport{
        width: auto;
    }
    #report-data .stm-single-car-listing-data{
        text-align: center;
    }
}

@media (max-width: 470px) {
    .car-listing-row .stm-template-front-loop .listing-car-item-meta{
        padding-top: 10px;
    }
    .stm-template-listing_four .special-offers .stm-template-front-loop .car-meta-bottom ul li{
        width: auto;
    }
}
@media (max-width: 460px){
    .stm-car-carousels .owl-item {
        max-height: 250px!important;
    }
    .stm-template-listing_four .listing-list-loop .content{
        margin-top: -69px !important;
    }
    #listings-result .image .owl-item img{
        max-height: 201px !important;
    }

}
