.stm_add_car_form {
	.stm-video-link-unit {
		input {
			height: 40px !important;
		}
	}

	.stn-add-car-location-wrap {
		.title {
			font-size: 16px !important;
			text-transform: uppercase;
			font-weight: bold !important;
		}
	}
	.contact-preferences {
		&__options {
			#uniform-user_email.checker{
				opacity: .7 !important;
			}
		}
		&__item {
			margin-bottom: 15px;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__sub-items {
			margin: 10px 0 10px 35px;
			padding-left: 5px;
		}
		&__sub-item {
			&:nth-child(2){
				margin-left: 30px;
			}
		}
	}
}

