.plan-wrapper {
	border: 2px solid;
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	min-height: 300px;

	ul {
		padding: 0;
		list-style: none;
	}

	h4 {
		font-size: 19px;
		line-height: 22px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	h5 {
		font-size: 13px;
		line-height: 16px;
		font-weight: normal;
		color: #bab7b6;
	}

	.select button {
		min-width: 140px;
		margin-top: 20px;
	}

	&:hover {
		transition: .3s all;
		box-shadow: #0a0a0a;
	}

	.price {
		font-size: 18px;
		font-weight: bold;
		margin: 15px 0;
	}

	.feature_value {
		font-weight: bold;
	}

	button {
		background-color: #db1c22;
		border-radius: 2px;
	}
}

body .pswp__button--share {
	display:none;
}
.pswp-thumbnail,
.pswp__button.pswp__button--fs{
	display: none !important;
}

.pswp__counter {
	width: 100%;
	bottom: 0 !important;
	position: fixed !important;
	text-align: center;
	top: auto !important;
}
.pswp__ui--idle .pswp__button--arrow--left, .pswp__ui--idle .pswp__button--arrow--right {
	opacity: 1 !important;
}
.pswp__img {
	background-color: transparent !important;
}
.pswp__ui--idle .pswp__top-bar {
	opacity: 1 !important;
	background-color: transparent !important;
}

.non-logged-in {
	text-transform: uppercase;
	&:hover {
		background-color: transparent !important;
	}
}
input.active {
	background-color: #fff !important;
}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
	background-color: #fff !important;
	border: 2px solid #efefef;
}
.stm-register-form {
	.user_validated_field {
		height: 44px !important;
		line-height: 44px !important;
	}
}

.custom-breadcrumbs {
	span {
		padding-bottom: 3px;
	}
}

@media (max-width: 500px) {
	.stm-register-form {
		.form-group.form-checker {
			flex-wrap: wrap;
			//justify-content: center;
			.stm_accept_terms {
				margin-bottom: 10px;
			}
			.stm_accept_terms, .have_account {
				width: 100%;
				//text-align: center;
			}
		}

	}
}
