@media only screen and (min-width: 768px) {
	.cd-panel__header {
		width: 70%;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-panel__header {
		width: 50%;
	}
}
@media (max-width: 600px) {
	#delete-all {
		width: 100%;
		text-align: right;
	}
}
@media (max-width: 769px){
	.stm-accordion-content {
		li {
			&.is-pseudo-refined {
				> label .checker span {
					background-position: -20px !important;
					box-shadow: none;
				}
			}
		}
	}


	.select2-search .select2-search__field {
		display: none;
	}

	#listings-result .image {
		max-height: 300px;
	}

	#listings-result .image img {
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}

	.hide_on_mobile {
		display: none;
	}

	.stm-car-carousels .owl-item {
		max-height: 250px !important;
	}

	.stm-template-listing_four .single-car-actions > ul li span i {
		position: relative;
		top: 10px;
		left: -8px;
	}
	ul.page-numbers {
		padding: 45px 20px 0 !important;
	}
	.ais-RefinementList-list {
		li {
			span {
				font-size: 14px;
			}
		}
	}
	#app {
		div.checker, div.checker span, div.checker input {
			width: 18px;
			height: 18px;
		}
		div.checker span {
			background-size: 40px;
			margin-left: 1px;
			margin-right: 3px;
			background-position: -1px;
		}
		.ais-RefinementList-list {
			label {
				margin: 5px 0;
			}
		}

		div.checker span.checked {
			width: 20px;
			height: 20px;
			background-position: -20px 0;
			margin-left: 0;
		}
	}
}

@media (min-width: 769px) {
	.gallery-carousel {
		display: none !important;
	}

	#actions-2 {
		display: none !important;
	}

	.stm-car-carousels .owl-item {
		max-height: 450px !important;
	}
}

@media (max-width: 991px) {
	#stm_classified_four_price_view-2 {
		display: none !important;
	}
}

@media (min-width: 992px) {
	#single-car-price,
	.stm-thumbs-car-gallery {
		display: none !important;
	}
	#contact-seller {
		display: none;
	}
	#actions-2 {
		display: block;
	}
}

@media (max-width: 992px) {
	.owl-stage.active {
		transition: none !important;
	}

	#stm_classified_four_price_view-2 {
		display: none !important;
	}

	.stm-thumbs-car-gallery {
		display: none !important;
	}

	#actions {
		display: none;
	}

	.stm-template-listing_four .stm-single-car-page > .container > .row > .col-md-9 {
		margin-right: 0 !important;
		padding-right: 15px !important;
	}

	.main-photo {
		padding-right: 15px !important;
	}

	.image_uploader {
		&__previews {
			> div {
				width: 100%;
			}
		}
		span {
			margin-top: 30px;
			.image {
				width: 30%;
				height: 151px;
				margin-bottom: 10px;
				img {
					max-height: 130px !important;
					object-fit: contain;
				}
				&:last-child {
					margin-right: 35%;
				}
			}
			.image_wrapper {
				width: 100%;
				justify-content: center;
			}
		}
		.image-preloader {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: #efefef;
			border: 1px solid #eaeaea;
		}
		.image_wrapper {
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			cursor: move ;
			.image__label {
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				background: #eee;
				font-size: 12px;
				opacity: 0;
				visibility: hidden;
			}
			&:hover {
				.image__label {
					opacity: 1;
					visibility: visible;
					transition: .15s all;
				}
			}
			&:focus {
				.image__label {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&__main-photo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 432px;
			background-color: #eee;
		}
		&__previews {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__item-preview {
			width: 19%;
			background-color: #eee;
			min-height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .3s all;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			.stm-service-icon-photos {
				font-size: 20px;
			}

		}
		.preview__remove {
			position: absolute;
			top: -10px;
			right: -8px;
			cursor: pointer;
			font-size: 20px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background: #db1c22;
			color: #fff;
			line-height: 24px;
			text-align: center;
		}
	}
}

@media (max-width: 768px ) {
	.stm-form-1-end-unit {
		padding: 0 15px;
	}

	.stn-add-car-location-wrap .stm-car-listing-data-single {
		padding-left: 0 !important;
	}

	.stn-add-car-location-wrap .stm-label {
		margin-left: 0 !important;
	}

	#stm-add-car-location {
		margin-left: 0 !important;
	}

	.stm-form-1-end-unit .stm-form-1-quarter,
	.stm-location-input-wrap.stm-location {
		display: flex !important;
		flex-direction: column-reverse !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.stm-location-input-wrap.stm-location {
		display: flex !important;
		flex-direction: column !important;
		align-items: flex-start !important;
	}

	.stm-form-1-end-unit .stm-form-1-quarter .stm-label {

	}

	.stm-form-1-end-unit .stm-form-1-quarter input[type="text"],
	.stm-form-1-end-unit .stm-form-1-quarter input[type="number"] {
		width: 100%;
		max-width: 100% !important;
		margin-left: 0 !important;
	}

	.stm-template-listing_four .stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter .select2 {
		max-width: 100% !important;
		margin-left: 0 !important;
	}
}

@media only screen and (min-width: 768px) {
	.cd-panel__container {
		width: 70%;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-panel__container {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.cd-panel__content p {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

@media (max-width: 767px){
	.pswp__button.pswp__button--close {
		position: fixed !important;
		background-color: rgba(0, 0, 0, 0.4) !important;
	}
	.single-listings {
		.pswp__button {
			&--next, &--prev {
				display: none;
			}
		}
	}
	.header-secondary-phone {
		display: none !important;
	}
	.stm-template-listing_four .stm-single-car-listing-data table.inner-table tr td {
		padding-right: 5px !important;
	}
	.listing-list-loop .content .meta-middle .meta-middle-unit {
		border-bottom: none !important;
	}
	.listing-list-loop .content .title {
		clear: both;
		display: block;
		padding-top: 30px;
	}

	.listing-list-loop .image {
		float: none !important;
		max-width: 100% !important;
		margin: 0px !important;
	}

	.listing-list-loop .content {
		position: relative;
		margin-top: -50px;
		z-index: 20;
	}

	.listing-list-loop .content .title {
		clear: both;
		display: block;
		padding-top: 30px !important;
	}

	.stm-sort-by-options {
		float: left !important;
	}
	.stm-view-by.sticky {
		display: flex !important;
		align-items: center;
	}
	.stm-view-by.sticky h4 {
		margin-bottom: 0 !important;
	}
	#listings-result {
		.stm-car-listing-sort-units {
			margin-bottom: 5px;
		}
		.stm-view-by.visible-xs-block.sticky.hidden {
			padding-bottom: 5px;
			padding-top: 1px;
		}
	}
}

@media (min-width: 769px){
	.inner-table .heading-font-vin {
		padding-left: 10px !important;
		font-size: 11px !important;
	}
	.pswp__button.pswp__button--close {
		position: relative;
		top: 0 !important;
		right: 0 !important;
		left: auto !important;
	}
	.single-login-form {
		max-width: 60%;
		margin: 0 auto !important;
	}
}

@media only screen and (min-width: 1170px) {
	.cd-main-content h1 {
		font-size: 3.2rem;
	}
}
@media (max-width: 1025px){
	.custom-thumbnails .image_wrapper {
		width: 23% !important;
	}
}

