/* --------------------------------

Slide In Panel - by CodyHouse.co

-------------------------------- */
#filter-menu {
	display: block !important;
}

.cd-main-content {
	text-align: center;
}

.cd-main-content h1 {
	font-size: 2rem;
	color: #64788c;
	padding: 4em 0;
}

.cd-btn {
	position: relative;
	display: inline-block;
	padding: 1em 2em;
	background-color: #89ba2c;
	color: #ffffff;
	border-radius: 50em;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s;
}

.cd-btn:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.cd-panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition: visibility 0s 0.6s;
}

.cd-panel::after {
	/* overlay layer */
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor: pointer;
	transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
	visibility: visible;
	transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
	background: rgba(0, 0, 0, 0.6);
	transition: background 0.3s 0s;
}

.reset-filters {
	position: absolute;
	right: 120px;
	border-radius: 10px;
	height: 40px !important;
	color: #fff;
	top: 5px;
	line-height: 40px !important;
	padding: 0 4px;
	background: #5c707c;
	margin-bottom: 0;
}

.cd-panel__header {
	position: fixed;
	width: 90%;
	height: 50px;
	line-height: 50px;
	background: rgba(255, 255, 255, 0.96);
	z-index: 2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s 0.3s, left 0.15s;
	transform: translateY(-50px);
	left: -100% !important;
}

.cd-panel__header h1 {
	color: #89ba2c;
	padding-left: 5%;
}

.cd-panel--from-right .cd-panel__header {
	right: 0;
}

.cd-panel--from-left .cd-panel__header {
	left: 0;
}

.cd-panel--is-visible .cd-panel__header {
	transition: transform 0.3s 0.3s;
	transform: translateY(0px);
	left: 0 !important;
}

.cd-panel__container {
	position: fixed;
	width: 90%;
	height: 100%;
	top: 0;
	background: #dbe2e9;
	z-index: 1;
	transition: transform 0.3s 0.3s;
	transition-delay: 0s;
}

.cd-panel--from-right .cd-panel__container {
	right: 0;
	transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
	left: 0;
	transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
	transform: translate3d(0, 0, 0);
	transition-delay: 0s;
}

.cd-panel__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 70px 5% 30px 5%;
	overflow: auto;
	/* smooth scrolling on touch devices */
	-webkit-overflow-scrolling: touch;
}

.cd-panel__content p {
	font-size: 1.4rem;
	color: #424f5c;
	line-height: 1.4;
	margin: 2em 0;
}

.cd-panel__content p:first-of-type {
	margin-top: 0;
}